<script lang="ts">
import {defineComponent} from 'vue'
import router from "@/router/router";

export default defineComponent({
  name: 'App',
  data: () => {
    return {
      name: "",
      password: "",
      message: 'Please login'
    }
  },
  methods: {
    async submit(e: Event) {
      e.preventDefault();

      const body = {name: this.name, password: this.password};
      const settings = {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(body),
      };
      try {
        const fetchResponse = await fetch(`/api/login`, settings);
        const data = await fetchResponse.json();
        console.log(data);
        if(data.success) {
          await router.push("/")
        }
        else {
          this.message = data.message;
        }
      } catch (e) {
        this.message = "" + e;
      }

    },
  },
  computed: {
    count(): number {
      return 3
    }
  }
})

</script>

<template>
  <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">

      <div class="col-lg-offset-2 col-lg-5">
        <form class="form-horizontal" @submit='submit'>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text">
              <p>&nbsp;{{ message}}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label text">Handle</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="handle" placeholder="" autoFocus v-model="name"/>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label text">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="Password" v-model="password"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" >Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
  </div>

</template>


