<script setup lang="ts">
import {RouterView} from 'vue-router'</script>

<template>
<!--    <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="125" height="125" />-->
  <RouterView />
</template>

