/*@font-face {*/
/*font-family: 'NotoMono';*/
/*src: url('../resources/fonts/notomono/NotoMono-Regular.ttf') format('truetype');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*@font-face {*/
/*font-family: 'NotoSansSymbols';*/
/*src: url('../resources/fonts/notomono/NotoSansSymbols-Regular.ttf') format('truetype');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*@font-face {*/
/*font-family: 'NotoSansSymbols2';*/
/*src: url('../resources/fonts/notomono/NotoSansSymbols2-Regular.ttf') format('truetype');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*@font-face {*/
/*font-family: 'NotoColorEmoji';*/
/*src: url('../resources/fonts/notomono/NotoColorEmoji.ttf') format('truetype');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*@font-face {*/
/*font-family: 'NotoEmoji';*/
/*src: url('../resources/fonts/notomono/NotoEmoji-Regular.ttf') format('truetype');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

body {
    background-color: #222222;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../resources/fonts/space_mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../resources/fonts/space_mono/SpaceMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../resources/fonts/space_mono/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../resources/fonts/space_mono/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'EmojiSymbols';
    src: url('../resources/fonts/EmojiSymbols-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-bottom: 40px;
    font-family: 'SpaceMono', 'EmojiSymbols', monospace;
}

.darkWell {
    background-color: #333333;
    border-radius: 3px 3px 3px 3px;
}

.siteMap {
    background-color: #333333;
    border-radius: 3px 3px 3px 3px;
    height: 815px;
    width: 607px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rightPane {
    background-color: #111111;
}

.backgroundLight {
    background-color: #333333;
}

.nodeInfo {
    background-color: #041a21e8;
    height: 780px;
    position: absolute;
    width: 590px;
    left: 47px;
    top: 48px;
    border-radius: 13px 13px 13px 13px;
}

.nodeInfoClose {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 10px;
    /*background-color: #000000;*/
    background-color: #337ab7;
    border-radius: 3px 3px 3px 3px;
    border-color: #000000;
    padding: 2px 4px 2px 4px;
    z-index: 100;
    cursor: pointer;
}

.text {
    color: #aaa;
    font-size: 12px;
    line-height: 14px;
}

.errorPage {
    padding: 20px 20px 20px 20px
}

.btn-spaced {
    margin-right: 0.3em;
}

.btn-height-spacer {
    height: 0.3em;
}

.layer_text_label {
    margin-top: 0.5em;
    margin-bottom: 0px;
}

.text_gold {
    color: #8a6d3b;
}

.strong {
    font-weight: bold;
}

.textInput {
    border: 1px solid #ccc;
}

.node_panel_no_right_padding {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.layerInputLong {
    /*width: 90%;*/
    display: inherit;
}

.layerLabel {
    color: #777777;
    text-align: right;
    padding-top: 0.5em;
    padding-right: 0;
    /*font-weight: bold;*/
}

.noRightPadding {
    padding-right: 0;
}

.layerHelpColumn {
    padding-left: 0.5em;
    padding-top: 0.2em;
}

.helpBadge {
    color: #333333;
    border: 1px solid #46b8da30;
    cursor: help;
}

.helpBadge:hover {
    background-color: #5bc0de;
    border: 1px solid #77777730;
}

.layerFieldRow {
    margin-bottom: 0.3em;
}

.layerFieldTopRow {
    margin-bottom: 0;

}

a.textLink {
    cursor: pointer;
    text-decoration: none;
}

.layerLayerPanel {
    height: 38em;
}

.dontDisplay {
    display: none;
}

.silentLink {
    cursor: pointer;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #444;
}

.site-state {
    height: 95px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 12px;
    scrollbar-color: #666 #444;
}

.site-state-text {
    color: #aaa;
    font-size: 14px;
    line-height: 24px;
}

.site-state::-webkit-scrollbar {
    width: 12px;
}

.site-state::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}

.site-state::-webkit-scrollbar-track {
    background: #444;
    border-radius: 5px;
}

.thin-hr {
    margin-top: 4px;
    margin-bottom: 4px;
}

.btn-grey {
    color: #ffffff;
    background-color: #888888;
}

.networkId {
    color: #5cb85c;
}

.hidden_alpha {
    opacity: 0;
}

.transition_alpha_fast {
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.close-x-position {
    top: 2px;
    left: 1px;
    color: #aaa;
}

.countdown {
    color: RED;
    top: 1px;
    left: 567px;
    position: absolute;
    z-index: 100;
}

.playerIconYou {
    width: 34px;
    height: 34px;
    float: left;
}

.playerIconOther {
    width: 30px;
    height: 30px;
    float: right;
    filter: grayscale(50%);
}