<template>
  <div class="row">
    <div class="col-lg-2">
      <div class="row">
        <div class="col-lg-12">
          <span class="text">&nbsp;</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!--          <Terminal terminal={messageTerminal} height="300px"/>-->
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div v-if="home">
        <HackerHome/>
      </div>

    </div>
  </div>
  <!--  <MenuBar/>-->
</template>
<script>
import HackerHome from "./HackerHome";

export default {
  components: {HackerHome},
  data: () => {
    return {
      home: true
    }
  }
}
</script>