<template>

  <div class="row">
    <div class="col-lg-6">
      <div class="row backgroundLight">
        &nbsp;
      </div>
      <div class="row">
        <div class="text">
          <strong>🜁 Verdant OS 🜃</strong><br/>
          <br/>
          Choose site to investigate or attack<br/>
          <br/>
          <br/>
        </div>
        <div id="actions">
          <div class="text">
<!--            <input type="text">hello</input>-->
<!--            <TextInput placeholder="Site name"-->
<!--                       buttonLabel="Scan"-->
<!--                       buttonClass="btn-info"-->
<!--                       save={(siteName) => scanSite(siteName)}-->
<!--            clearAfterSubmit="true"/>-->

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 rightPane">

      <div class="row">
        <div class="col-lg-12">
          <span class="text">Scans</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="siteMap rightPaneDimensions">
            <div>&nbsp;</div>
            <div class="rightPanePadLeftRight">
              <table class="table table-condensed text-muted text" id="sitesTable">
                <thead>
                <tr>
                  <td class="strong">Site Name</td>
                  <td class="strong">Nodes</td>
                  <td class="strong">Initiator</td>
                  <td class="strong">Efficiency</td>
                  <td class="strong">&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                {
                scans.map((scanInfo) => {
                return (
                <tr key={scanInfo.runId}>
                  <td class="table-very-condensed">
<!--                    <SilentLink title={scanInfo.runId} onClick={() => {-->
<!--                    enterScan(scanInfo);-->
<!--                    }}>{scanInfo.siteName}</SilentLink>-->
                  </td>
                  <td class="table-very-condensed">{scanInfo.nodes}</td>
                  <td class="table-very-condensed">{scanInfo.initiatorName}</td>
                  <td class="table-very-condensed">{scanInfo.efficiency}</td>
                  <td class="table-very-condensed">
<!--                    <SilentLink onClick={() => {-->
<!--                    deleteScan(scanInfo);-->
<!--                    }}>-->
<!--                    <span class="glyphicon glyphicon-remove-circle" />-->
<!--                    </SilentLink>-->
                  </td>
                </tr>);
                })
                }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>